package com.kingstardi.provider.core;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;
import com.kingstardi.service.core.${className}Service;
import com.kingstardi.dao.${path}.${className}Mapper;
import com.kingstardi.dao.${path}.${className}ManualMapper;
import com.kingstardi.entity.core.${className};
 
import java.util.List;


@Service("${className}Provider")
@Transactional
public class ${className}Provider implements ${className}Service {

	@Autowired
	${className}Mapper mapper;
	@Autowired
	${className}ManualMapper manualMapper;

	/**
	 * 根据主键获取一条数据
	 * 
	 * @param id
	 * @return
	 */
	public ${className} get(String id) {
		return mapper.get(id);
	}
	
	/**
	 * 查询多条记录（有分页）
	 * @param entity
	 * @return
	 */
	public List<${className}> getList(${className} entity) {
		List<${className}> list = mapper.queryPage(entity);
		return list;
	}
	
	/**
	 * 保存数据
	 * 
	 * @param entity
	 */
	public void insert(${className} entity) {
		mapper.insert(entity);
	}
	
	/**
	 * 按给定的属性保存数据
	 * 
	 * @param entity
	 */
	public void insertSelective(${className} entity) {
		mapper.insertSelective(entity);
	}

	/**
	 * 更新数据（全部属性）
	 * 
	 * @param entity
	 */
	public void update(${className} entity) {
		mapper.update(entity);
	}
	
	/**
	 * 更新数据（按给定的属性）
	 * 
	 * @param entity
	 */
	public void updateSelective(${className} entity) {
		mapper.updateSelective(entity);
	}

	/**
	 * 根据主键删除一条数据
	 * 
	 * @param id
	 * @return
	 */
	public void delete(String id) {
		mapper.delete(id);
	}

	
}
